.git
.env
.docker/
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.swp
**/*.swo
simulators/isaac-sim/.docker/
simulators/isaac-sim/.env
real-hardware/build
real-hardware/install
real-hardware/log
isaac-sim-runtime/logs
isaac-sim-runtime/vendor/booster_assets
isaac-sim-runtime/vendor/booster_train
*.pt
*.pth
*.onnx
