[submodule "external/booster-k1-rl"]
	path = external/booster-k1-rl
	url = https://github.com/MarcoDotIO/Booster-K1-RL-Isaac-Lab-Walking-Policy-Trainer
	ignore = dirty
[submodule "external/rosclaw-ros2"]
	path = external/rosclaw-ros2
	url = https://github.com/ROSClaw/rosclaw-ros2
	ignore = dirty
[submodule "external/rosclaw-plugin"]
	path = external/rosclaw-plugin
	url = https://github.com/ROSClaw/rosclaw-plugin
	ignore = dirty
[submodule "real-hardware/src/booster_robotics_sdk_ros2"]
	path = real-hardware/src/booster_robotics_sdk_ros2
	url = https://github.com/BoosterRobotics/booster_robotics_sdk_ros2
[submodule "external/booster-assets"]
	path = external/booster-assets
	url = https://github.com/BoosterRobotics/booster_assets
	ignore = dirty
[submodule "real-hardware/src/rosclaw-ros2-autonomy"]
	path = real-hardware/src/rosclaw-ros2-autonomy
	url = https://github.com/ROSClaw/rosclaw-ros2-autonomy
